/* Fonts */

@font-face {
    font-family: 'GreatVibes';
    src: url('../_fonts/GreatVibes.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChocolateCoveredRaindrops';
    src: url('../_fonts/ChocolateCoveredRaindrops.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChocolateCoveredRaindropsBold';
    src: url('../_fonts/ChocolateCoveredRaindropsBold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChocolateCoveredRaindropsHollow';
    src: url('../_fonts/ChocolateCoveredRaindropsHollow.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/********/

body{
	background-color:#CCCCB2;
}
	
#gridContainer {
	position:relative;
	margin:10px auto;
	width:850px; /*fixed size*/
	background-color:#FFF;	
	border-radius: 25px;
}

#background_header{
	width: 100%;
	height: 250px;
	background-image: url("../_images/background.jpg");
	background-size: 100% auto;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
}

header h1{
	font-family: 'GreatVibes', tahoma, verdana, sans-serif;
	font-size: 82px;
	color: #1f1f14;
	text-align: center;
	position:absolute;
	padding-top:70px;
}

nav{
	/*height:40px;*/
	width: 300px;
	float:left;
	margin:20px 10px;
}

ul{
	padding-top:50px;
	list-style: none;
}

ul li{
	font-family: 'ChocolateCoveredRaindropsBold', tahoma, verdana, sans-serif;
	font-size:40px;
	font-style:bold;
	text-align:left;
}

ul img{
	height:10px;
	width:220px;
	vertical-align:top;
	padding-bottom:30px;
}

article {
	width:500px;
	float:right;
	margin-right:25px;
}
	
article h1{
	font-family: 'ChocolateCoveredRaindropsBold', tahoma, verdana, sans-serif;
	font-size: 50px;
	color: #1f1f14;
	margin:50px 0 50px 0;
}

article p{
	font-family: tahoma, verdana, sans-serif;
	font-size: 15px;
	text-align: justify;
}

article img{
	width: 300px;
	height:200px;

}

article h3{
	font-family: 'ChocolateCoveredRaindropsBold', tahoma, verdana, sans-serif;
	font-size: 30px;
}

footer{
	clear: both;
	background-color:#FFF;
	font-family: tahoma, verdana, sans-serif;
	font-size: 12px;
	text-align: center;
	padding-top:15px;
	border-bottom-right-radius:25px;
	border-bottom-left-radius:25px;
}

.img_float{	
	float:left;
	padding-right:10px;
}


.signature{
	color:#ff3333;
	font-family: "Comic Sans MS",sans-serif;
	font-style: italic;
	font-size: 13px;
}

/* Links */

a:link{
	color:#293333;
	font-style:italic;
	text-decoration:none;
}

a:visited{
	color:#999966;
}
	
a:hover{
	color:#ff3333;
	text-decoration:none;
}
	
a:active{
	color:#1f1f14;
}





